import("DiceKriging",
	"rgenoud", "MASS")

export( EI,EI.grad,max_EI,EGO.nsteps, 
qEI, max_qEI.CL, CL.nsteps, 
branin2, goldsteinprice, hartman4, rosenbrock4, sphere6,
AEI, AEI.grad, max_AEI,
EQI, EQI.grad, max_EQI,
AKG, AKG.grad, max_AKG,
kriging.quantile, kriging.quantile.grad, min_quantile,
update_km_noisyEGO, noisy.optimizer)

